<div id="footer-spacer"></div>
<footer id="primary-footer">
    <svg id="primary-footer-diagonal" viewBox="0 0 1 1" preserveAspectRatio="none">
            <path d="M 0 0.5 L 1 1 H 0 V 0.5" />
    </svg>
    <div>
        <div id="credentials">
            <p><strong>Diploma&#8217;s:</strong></p>
            <p>Ethologie hond en kynologisch instructeur<span class="hide-on-mobile"> (Aeres)</span></p>
            <p>Sociaal pedagogisch hulpverlener<span class="hide-on-mobile"> (HAN)</span></p>
        </div>
    </div>
</footer>