<header id="primary-header">
    <div>
        <h1>{{ site.title }}</h1>
        <h2>{{ site.tagline }}</h2>
        <nav>
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/over_ons/' | relative_url }}">Over ons</a>
            <a href="{{ '/aanpak/' | relative_url }}">Aanpak</a>
            <a href="{{ '/cursusaanbod/' | relative_url }}">Aanbod & Tarieven</a>
            <a href="{{ '/contact/' | relative_url }}">Contact</a>
        </nav>
    </div>
    <svg viewBox="0 0 1 1" preserveAspectRatio="none">
        <path d="M 0 0 H 1 V 0.5 L 0 0" />
    </svg>
</header>