article {
    overflow: hidden;
    background-color: rgba($content-primary, $content-background-opacity / 100%);
    margin: 100px auto;
    padding-bottom: 0.7em;

    @media only screen and (min-width: 2001px) {
        width: 1200px;
        font-size: 1em;
    }
    @media only screen and (min-width: 1001px) and (max-width: 2000px) {
        width: 900px;
        font-size: 0.9em;
    }
    @media only screen and (max-width: 1000px) {
        width: 100%;
        font-size: 0.7em;
    }

    h1 {
        font-size: 2.8em;
        color: $accent;
        margin: 0.75em;
    }

    h2 {
        font-size: 1.8em;
        color: mix(black, $accent, 50%);
        margin: 1.22em;
        font-weight: bold;
    }

    p {
        font-size: 1.4em;
        margin: 1em 1.5em;
        line-height: 1.5em;
    }

    ul {
        list-style: square;
        margin: 1em 1.5em;
        margin-left: 3.23em;
        line-height: 1.5em;

        li > p {
            margin: 0;
            display: inline;
        }
    }

    img {
        width: 50%;
        margin: 0 auto;
        display: block;
    }
}
