#primary-footer {
    > svg {
        height: 100px;
        width: 100%;
        
        > path {
            fill: rgba($footer-primary, $overlay-background-opacity / 100%);
        }
    }

    > div {
        height: 100px;
        display: block;
        background-color: rgba($footer-primary, $overlay-background-opacity / 100%);
    }

    #credentials {
        width: 399px;
        line-height: 1.3em;
        margin: 0 auto;
    }

    @media only screen and (max-width: 450px) {
        #credentials {
            width: 320px;
        }
        .hide-on-mobile {
            display: none;
        }
    }
}

body {
    background-color: rgba($footer-primary, $overlay-background-opacity / 100%)
}

#footer-spacer {
    flex-grow: 1;
}
