@import "theme";
@import "background-cover";
@import "header";
@import "article";
@import "footer";
@import "contact";

html {
    overflow-y: scroll;
}

svg {
    display: block;
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}

main {
    margin-bottom: -100px;

    h1, h2, p {
        text-shadow: 0 0 1px white;
    }
}

a {
    text-decoration: underline;
    color: $accent;
    transition-property: color;
    transition-duration: 0.6s;

    &:hover {
        color: black;
        transition-duration: 0.2s;
    }
}
