$accent: #056ec3;

$header-primary: #fbfdff;
$content-primary: #f1fcfc;
$footer-primary: $header-primary;
$overlay-background-opacity: 80%;

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Neuton', serif;
}

strong {
    font-weight: bold;
}
